@model ML.Empresa
@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h4>Credenciales de usuario</h4>  <br>
    <div class="row">


        @using (Html.BeginForm("Form", "Empresa", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="col" hidden>
                @Html.LabelFor(model => model.IdEmpresa)
                @Html.TextBoxFor(model => model.IdEmpresa)
                @Html.ValidationMessageFor(model => model.IdEmpresa)
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-4">

                        @Html.LabelFor(model => model.Nombre)
                        @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control", @id = "txtNombre" })
                        @Html.ValidationMessageFor(model => model.Nombre)

                        @Html.LabelFor(model => model.Telefono)
                        @Html.TextBoxFor(model => model.Telefono, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Telefono)

                        @Html.LabelFor(model => model.Email)
                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Email)

                        @Html.LabelFor(model => model.DireccionWeb)
                        @Html.TextBoxFor(model => model.DireccionWeb, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.DireccionWeb)

                    </div>



                    <div class="col-4 col-sm-3">
                        @Html.LabelFor(model => model.Logo, "Logo de empresa")
                        <input id="IFImage" type='file' class="form-control" name="IFImage" onchange="validateFile(this), readURL(this);  " />

                        @if (Model.Logo != null)
                        {
                            <img id="ImagePreview" src="data:image/*;base64,@Model.Logo" style="width:250px ; height:250px" />
                        }
                        else
                        {
                            <img id="ImagePreview" src="~/css/SinUsuario.png" style="width:250px ; height:250px" />
                        }
                        @Html.ValidationMessageFor(model => model.Logo)

                    </div>
                </div>


                @Html.HiddenFor(model => model.Logo)

            </div>

            <br>



            <div class="container">
                <div class="row">
                    <div class="col align-self-center">
                        <input type="submit" value="Guardar" class="btn btn-success" />
                        @Html.ActionLink("Regresar", "GetAll", "Usuario", htmlAttributes: new { @class = "btn btn-danger" })
                    </div>
                </div>
            </div>


        }
    </div>
</div>

@section Scripts{


    <script type="text/javascript">

        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#ImagePreview').attr('src', e.target.result);
                };

                reader.readAsDataURL(input.files[0]);
            }


        }
    </script>
}